# Two Categorical Variables

- A useful way to summarize two categorical variables is a contingency tableâ€”a table of counts by category.

In [2]:
%matplotlib inline

from pathlib import Path

import pandas as pd
import numpy as np
from scipy.stats import trim_mean
from statsmodels import robust
import wquantiles

import seaborn as sns
import matplotlib.pylab as plt

In [3]:
loan = pd.read_csv('G:\data_science\data\lc_loans.csv')

In [5]:
crosstab=loan.pivot_table(index='grade',columns='status', aggfunc=lambda x: len(x), margins=True)

In [6]:
crosstab

status  Charged Off  Current  Fully Paid  Late     All
grade
A              1562    50051       20408   469   72490
B              5302    93852       31160  2056  132370
C              6023    88928       23147  2777  120875
D              5007    53281       13681  2308   74277
E              2842    24639        5949  1374   34804
F              1526     8444        2328   606   12904
G               409     1990         643   199    3241
All           22671   321185       97316  9789  450961